<a href="https://colab.research.google.com/github/ShayanRezvaninia/dev_repo/blob/master/session2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
name = "Alice"
age = 25
formatted_string = "My name is {} and I am {} years old.".format(name, age)
print(formatted_string)

My name is Alice and I am 25 years old.

In [3]:
"{name} is {age} years old.".format(age=29,name="Carol")

'Carol is 29 years old.'

In [4]:
name = "Alice"
age = 25
formatted_string = "My name is %s and I am %d years old." % (name, age)
print(formatted_string)

My name is Alice and I am 25 years old.

In [5]:
my_tuple = (1, 2, 2, 3)  # Allowed, tuple can contain duplicates
print(my_tuple)  # Output: (1, 2, 2, 3)

my_set = {1, 2, 2, 3}  # Duplicates are automatically removed
print(my_set)  # Output: {1, 2, 3}

(1, 2, 2, 3)
{1, 2, 3}

In [ ]:
# Syntax: {key1: value1, key2: value2, ...}

my_dict = {
    "name": "Alice",
    "age": 25,
    "city": "New York"
}